[Unit]
Description=BreadCrumb Backup Service
After=network.target

[Service]
Type=simple
User=henwood
WorkingDirectory=/home/henwood
ExecStart=/usr/bin/python3 -u /home/henwood/backup.py
Restart=always
RestartSec=10
StandardOutput=append:/home/henwood/backup.log
StandardError=append:/home/henwood/backup.log
Environment="HOME=/home/henwood"

[Install]
WantedBy=multi-user.target
